<h1>Listado de Productos:</h1>
<div class="people_list" id="product-table">

  {{#each products}}
 
   {{this}}
  
 
  {{/each}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

{{!-- <div>
    <h2>agregar productos</h2>
  <div id="agregar">
    <form action="/api/products/add" method="post">
      <div>
        <label for="code">code</label>
        <input type="number" name="code" id="code"/>
      </div>
      <div>
        <label for="title">title</label>
        <input type="text" name="title" id="title"/>
      </div>
      <div>
        <label for="description">description</label>
        <input type="text" name="description" id="description"/>
      </div>
      <div>
        <div>
            <label for="price">price</label>
            <input type="number" name="price" id="price"/>
        </div>
      </div>
      <div>
        <label for="stock">stock</label>
        <input type="text" name="stock" id="stock"/>
      </div>
      {{!-- <div>
        <label for="category">category</label>
        <input type="text" name="category" id="category"/>
      </div> --}}
      <input type="submit" value="submit">
    </form>
  </div>
  <div id="mostrar">
    <h2>Productos actualizados</h2>
    <div id="prodsList-dysplay">
        
    </div>
  </div>
</div> --}}
<script src="/socket.io/socket.io.js"></script>
<script src="../../../public/js/index.js"></script>