<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

<h1>Productos</h1>
<ul id="products">
  {{#each products}}
    <li>
      <p><b>{{this.title}}</b></p>
      <p>Precio: ${{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoria: {{this.category}}</p>
    </li>
  {{/each}}
</ul>